// Define variables for your color scheme
$transparent:  rgba(255, 255, 255, 0);
$white:  rgb(255, 255, 255);
$black: rgb(0, 0, 0);

$grey0:  rgb(240, 240, 240);
$grey1:  rgb(204, 204, 204);
$grey2:  rgb(153, 153, 153);
$grey3:  rgb(95, 95, 95);
$grey4:  rgb(102, 102, 102);
$grey5: rgb(51, 51, 51);

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
