$transparent:  rgba(255, 255, 255, 0);
$translucide:  rgba(255, 255, 255, 0.5);
$transparentgrey: rgba(0, 0, 0, 0.04);
$shadow: rgba(0, 0, 0, 0.1);

$white:  rgb(255, 255, 255);
$black: rgb(0, 0, 0);

$grey1:  rgb(230, 230, 230);
$grey2:  rgb(190, 190, 190);
$grey3:  rgb(150, 150, 150);
$grey4:  rgb(90, 90, 90);
$grey5: rgb(30, 30, 30);

$mmorange: rgb(254, 103, 86);
$mmorangelight: rgb(254, 235, 233);
$mmgreen: rgb(75, 225, 136);
// $mmgreen: rgb(110, 254, 124);
$mmgreenlight: rgb(228, 252, 229);
$mmviolet: rgb(143, 13, 245);
$mmvioletlight: rgb(231, 225, 255);
$mmvioletdark: rgb(121, 8, 206);


// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
