.scroll {
  margin: 4px, 4px;
  padding: 4px;
  height: 60vh;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: justify;
}

.input-messages {
  margin-top: 40px;
}

.send-btn {
  margin-left: 20px;
  border-radius: 30px;
}

.message-row {
  margin-bottom: 10px;
  padding: 8px;
}

// To style the message itself
.sender-style, .receiver-style {
  width: 70%;
  max-width: 400px;
  border-radius: 4px;
  padding: 8px;
  min-height: 80px;
}

.sender-style {
  background-color: rgb(238, 208, 208);
  border-radius: 20px;
  box-shadow: -1px 1px 1px rgba($color: $black, $alpha: 0.3);
}

.receiver-style {
  background-color: rgb(255, 145, 56);
  border-radius: 20px;
  box-shadow: 1px 1px 1px rgba($color: $black, $alpha: 0.3);
}
