.input-messages {
  margin-top: 40px;
}

input[id="message_content"]::placeholder {
  color: $grey2;
}

// .send-btn {
//   color: $mmviolet;
//   box-shadow: 0 2px 3px rgba($color: $black, $alpha: 0.6);
//   border-color: $mmviolet;
//   background-color: $mmvioletlight;
//   margin-left: 20px;
//   border-radius: 20px;
//   --bs-btn-hover-border-color: rgba(160, 83, 0, 0.7);
// }

// .send-btn:hover {
//   background-color: $mmviolet;
//   color: $mmvioletlight;
//   border-color: $mmviolet;
//   transition-duration: 0.25s;
//   scale: 1.15;
// }

// .send-btn::after {
//   border-color: rgba(160, 83, 0, 0.1);
//   background-color: rgba(160, 83, 0, 0.8);
//   color: rgb(255, 233, 201);
// }

.message-row {
  margin-bottom: 10px;
  padding: 8px;
}

// To style the message itself
.sender-style, .receiver-style {
  width: 70%;
  max-width: 400px;
  border-radius: 4px;
  padding: 8px;
  min-height: 80px;
}

.sender-style {
  background-color: $mmgreenlight;
  border-radius: 20px;
  box-shadow: -1px 1px 1px rgba($color: $black, $alpha: 0.3);
}

.sender-style > .message-style {
  color: rgba($color: $mmgreen, $alpha: 0.7);
}

.receiver-style {
  background-color: $mmorangelight;
  border-radius: 20px;
  box-shadow: 1px 1px 1px rgba($color: $black, $alpha: 0.3);
}

.receiver-style > .message-style {
  color: $mmorange;
}

.light-hr {
  margin: 0rem 0;
  opacity: 1;
  color: $grey1;
  margin-left: 12px;
  margin-right: 32px;
}

#message_content {
  height: 48px;
  border-radius: 100px;
}
