// .chatroom {
//   border-radius: 20px;
// }

// .chat-title h4 {
//   color: $grey5;
//   text-shadow: 0 0 1px rgba($color: $black, $alpha: 0.2);
//   margin-left: 12px;
// }

.chat-title p {
  // margin-left: 12px;
  color: rgba($color: $grey2, $alpha: 0.6);
  color: $grey2;
  font-style: italic;
  // text-shadow: 0 0 1px rgba($color: $black, $alpha: 0.2);
}


.input-messages {
  margin-top: 25px;
}

input[id="message_content"]::placeholder {
  color: $grey2;
}

.message-row {
  margin-top: 10px;
  margin-bottom: 10px;
  // padding: 8px;
}

.sender-style, .receiver-style {
  width: 70%;
  max-width: 450px;
  border-radius: 20px;
  padding: 5px 10px;
  // min-height: 80px;
}

.sender-style {
  background-color: $mmgreenlight;
  border-bottom-right-radius: 0px;
  // border-radius: 20px;
  // box-shadow: -1px 1px 1px rgba($color: $black, $alpha: 0.3);
}

// .sender-style > .message-style {
//   color: $mmgreen;
//   // color: rgba($color: $mmgreen, $alpha: 0.7);
// }

.receiver-style {
  background-color: $mmorangelight;
  border-bottom-left-radius: 0px;
  // border-radius: 20px;
  // box-shadow: 1px 1px 1px rgba($color: $black, $alpha: 0.3);
}

// .receiver-style > .message-style {
//   color: $mmorange;
// }

.message-style i {
  color: rgb(100, 100, 100);
}

.light-hr {
  margin: 0px;
  opacity: 1;
  color: $grey1;
  // margin-left: 12px;
  // margin-right: 32px;
}

#message_content {
  height: 48px;
  border-radius: 100px;
}
