// Box
.request-steps-box {
  height: 78vh;
  margin: 64px;
  margin-left: 32px;
  margin-bottom: 0px;
  background-color: $white;
  border: solid 1px $grey1;
  border-radius: 20px;
  padding: 30px;
  position: fixed;
  width: 44%;
}

.empty-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

// Step buttons
.steps-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;

  i {
    color: $grey4;
  }
  .grey-arrow {
    color: $grey2;
  }
}

.step-button {
  width: 22%;
  border: 1px solid $grey4;
  background-color: $transparent;
  border-radius: 100px;
  color: $grey4;
}

.step-button.blocked {
  width: 22%;
  border: 1px solid $grey2;
  background-color: $transparent;
  border-radius: 100px;
  color: $grey2;
}

.step-button:hover {
  background-color: $grey4;
  color: $white;
}

.step-button.blocked:hover {
  background-color: $transparent;
  color: $grey2;
}

.active-step {
  background-color: $grey4;
  color: $white;
  font-weight: 700;
}

.active-step.blocked {
  font-weight: 400;
}

// Box content
.step-box-title {
  margin-bottom: 16px;
}

.scroll {
  padding-right: 10px;
  padding-left: 4px;
  margin-bottom: 20px;
  overflow-x: hidden;
  overflow-y: auto;
}

.scroll-step1 {
  height: 55vh;
}

.scroll-step3 {
  height: 58vh;
}

.scroll-step93 {
  height: 65vh;
}




.title-subsection {
  font-weight: bold;
  margin-bottom: 2px;
  margin-top: 10px;
}
// not used anywhere?

.offer-buttons {
  margin-top: 60px;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  justify-content: space-around;

  button {
    background-color: $mmvioletlight;
    color: $mmviolet;
    width: 200px;
    height: 40px;
    border-radius: 10px;
    text-decoration: none;
    border: 1px solid $mmviolet;
    box-shadow: 0 0 6px rgba($color: $black, $alpha: 0.9);
  }
  // is this still used somewhere?

  button:hover {
    background-color: $mmviolet;
    color: $white;
    box-shadow: none;
  }
}

// .total-price {
//   margin-top: 50px;
// }

.button-space {
  margin-top: 20px;
  margin-bottom: 20px;
}

.chatroom {
  border-radius: 20px;
}

.chat-title h4 {
  color: $grey5;
  text-shadow: 0 0 1px rgba($color: $black, $alpha: 0.2);
  margin-left: 12px;
}

.chat-title p {
  margin-left: 12px;
  color: rgba($color: $grey2, $alpha: 0.6);
  font-style: italic;
  text-shadow: 0 0 1px rgba($color: $black, $alpha: 0.2);
}




.decline-label {
  color: $mmviolet;
  // margin-top: 25px;
  margin-bottom: 15px;
  font-size: 15px;
}
