.my-requests-box {
  margin: 64px;
  margin-right: 32px;

  h3 {
    margin-bottom: 10px;
  }
}

.requests-table {
  border-radius: 20px;
  border: solid 1px $grey1;
  background-color: white;
  p {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.titles {
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
  display: flex;
  background-color: rgb(240, 240, 240);
  // background-color: $grey4;

  p {
    // color: $white;
    padding-top: 5px;
    padding-bottom: 5px;
    // font-weight: 700;
  }

  i {
    // color: $white;
    position: relative;
    top: -3px;
    right: -3px;
  }
}

.col1-size {
  width: 40%;
}

.col2-size {
  width: 20%;
}

.col3-size {
  width: 20%;
}

.col4-size {
  width: 20%;
  text-align: right;
}

.lines a {
  text-decoration: none;
}

.pair {
  // background-color: $transparentgrey;
}

.impair {
  // background-color: $translucide;
}

.line-no-hover {
  padding: 0px 20px;
  position: relative;
  display: flex;
  align-items: center;
}

.line {
  padding: 0px 20px;
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 20px;

  .review-link {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translate(0%, -50%);
    display: flex;
    align-items: center;
  }

  .review-link:hover {
    font-weight: 700;
  }
}

.show-link {
  width: 100%;
  display: flex;
  align-items: center;
}

.line:hover {
  background-color: $mmvioletdark;
  border-radius: 20px;
  transition-duration: 0.7s;

  p, a, i {
    color: white;
  }

  .status-tag {
    color: $grey5;
    font-weight: 400;
  }
}

.line-active {
  background-color: $mmviolet;
  border-radius: 20px;

  p, a, i {
    color: white;
    font-weight: 700;
  }

  .status-tag {
    color: $grey5;
    font-weight: 400;
  }
}

.requests-table .status-tag {
  border-radius: 100px;
  padding: 0px 8px;
  padding-top: 0px;
  padding-bottom: 0px
}

.status-tag.red {
  background-color: $mmorangelight;
  border: 1px solid rgb(253, 222, 219);
}

.status-tag.yellow {
  background-color: rgb(255, 246, 221);
  border: 1px solid  rgb(255, 236, 183);
}

.status-tag.blue {
  background-color: $mmvioletlight;
  border: 1px solid  rgb(218, 209, 255);
}

.status-tag.green {
  background-color: $mmgreenlight;
  border: 1px solid rgb(206, 250, 208);
}

.cat-gif {
  width: 10%;
}

.click-gif {
  width: 35%;
}
