.request-steps-box {
  height: 85vh;
  padding: 20px;
  margin: 20px;
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 20px;
}

.steps-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.step-button {
  width: 22%;
  border: none;
  border: 1px solid $mmorange;
  background-color: $transparent;
  border-radius: 100px;
  color: $orange;
}

.step-button:hover {
  background-color: $mmorange;
  color: $white;
}

.active-step {
  background-color: $mmorange;
  color: $white;
  font-weight: 700;
}

.title-subsection {
  font-weight: bold;
  margin-bottom: 2px;
  margin-top: 10px;
  // design to be improved !!!!!
}

.offer-buttons {
  margin-top: 60px;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  justify-content: space-around;

  button {
    background-color: $mmvioletlight;
    color: $mmviolet;
    width: 200px;
    height: 40px;
    border-radius: 10px;
    text-decoration: none;
    border: 1px solid $mmviolet;
    box-shadow: 0 0 6px rgba($color: $black, $alpha: 0.9);
  }

  button:hover {
    background-color: $mmviolet;
    color: $white;
    box-shadow: none;
  }
}

.total-price {
  margin-top: 50px;
}
