.request-steps-box {
  height: 85vh;
  padding: 20px;
  margin: 20px;
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  position: fixed;
  width: 46%;
}

.steps-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  i {
    color: $mmorange;
  }
  .grey-arrow {
    color: $grey2;
  }
}

.step-button {
  width: 22%;
  border: 1px solid $mmorange;
  background-color: $transparent;
  border-radius: 100px;
  color: $mmorange;
}

.decline-label {
  color: $mmviolet;
  margin-top: 25px;
  margin-bottom: 15px;
  font-size: 15px;
}

.step-button.blocked {
  width: 22%;
  border: 1px solid $grey2;
  background-color: $transparent;
  border-radius: 100px;
  color: $grey2;
}

.step-button:hover {
  background-color: $mmorange;
  color: $white;
}

.step-button.blocked:hover {
  background-color: $transparent;
  color: $grey2;
}

.active-step {
  background-color: $mmorange;
  color: $white;
  font-weight: 700;
}

.active-step.blocked {
  font-weight: 400;
}

.title-subsection {
  font-weight: bold;
  margin-bottom: 2px;
  margin-top: 10px;
}

.offer-buttons {
  margin-top: 60px;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  justify-content: space-around;

  button {
    background-color: $mmvioletlight;
    color: $mmviolet;
    width: 200px;
    height: 40px;
    border-radius: 10px;
    text-decoration: none;
    border: 1px solid $mmviolet;
    box-shadow: 0 0 6px rgba($color: $black, $alpha: 0.9);
  }
  // is this still used somewhere?

  button:hover {
    background-color: $mmviolet;
    color: $white;
    box-shadow: none;
  }
}

.total-price {
  margin-top: 50px;
}

.button-space {
  margin-top: 20px;
  margin-bottom: 20px;
}

.chatroom {
  border-radius: 20px;
}

.chat-title h4 {
  color: $grey5;
  text-shadow: 0 0 1px rgba($color: $black, $alpha: 0.2);
  margin-left: 12px;
}

.chat-title p {
  margin-left: 12px;
  color: rgba($color: $grey2, $alpha: 0.6);
  font-style: italic;
  text-shadow: 0 0 1px rgba($color: $black, $alpha: 0.2);
}
