.my-requests-box {
  margin: 30px;
  margin-right: 0px;

  h3 {
    margin-bottom: 10px;
  }
}

.requests-table {
  p {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.titles {
  padding-left: 20px;
  padding-right: 28px;
  display: flex;
  background-color: $grey4;

  p {
    color: $white;
    font-weight: 700;
  }
}

.col1-size {
  width: 40%;
}

.col2-size {
  width: 20%;
}

.col3-size {
  width: 20%;
}

.col4-size {
  width: 20%;
  text-align: right;
}

.lines a {
  text-decoration: none;
}

.line {
  padding: 0px 20px;
  display: flex;
  align-items: center;
}

.pair {
  background-color: $transparentgrey;
}

.impair {
  background-color: $translucide;
}

.line:hover {
  background-color: $mmviolet;
  height: 70px;

  p {
    color: white;
  }

  .status-tag {
    color: $grey5;
    font-weight: 400;
  }
}

.line-active {
  background-color: $mmviolet;
  height: 70px;

  p {
    color: white;
    font-weight: 700;
  }

  .status-tag {
    color: $grey5;
    font-weight: 400;
  }
}

.requests-table .status-tag {
  border-radius: 100px;
  padding: 0px 8px;
  padding-top: 0px;
  padding-bottom: 0px
}

.status-tag.red {
  background-color: $mmorangelight;
  border: 1px solid rgb(253, 222, 219);
}
.status-tag.yellow {
  background-color: rgb(255, 246, 221);
  border: 1px solid  rgb(255, 236, 183);
}
.status-tag.blue {
  background-color: $mmvioletlight;
  border: 1px solid  rgb(218, 209, 255);
}
.status-tag.green {
  background-color: $mmgreenlight;
  border: 1px solid rgb(206, 250, 208);
}

// adapt colors
