h1, h2, h3, h4, h5, p, label, a, .nav-link, .form-control, .form-control:focus, .form-select, i, option, button {
  color: $grey5;
}

.navbar-lewagon {
  h1, h2, h3, h4, h5, p, label, a, .nav-link, .form-control, .form-control:focus, .form-select, i, option {
    color: $white;
  }
}

.top-title {
  margin-top: 100px;
  margin-bottom: 20px;
}

body {
  height: 100%;
  background: linear-gradient(0.43turn, $mmorangelight, $white, $mmgreenlight);
  background-attachment: fixed;
}
