<p class="title-subsection">Subject</p>
<p><%= @request.title %></p>

<p class="title-subsection">Description</p>
<p><%= @request.description %></p>

<% @request.pictures.each do |picture| %>
  <%= cl_image_tag picture.key, height: 250 %>
<% end %>
