<%# this is work in progress !!!! %>

<p>Form to create/edit an offer coming soon!</p>

<%# <%= simple_form_for [@request, @offer] do |f| %>
  <%# <%= f.input :content %>
  <%# <%= f.submit "Submit", class: "my-btn prim" %>
<%# <% end %>
