<div class="requests-overview">

  <div class="container-fluid my-requests-container">
    <%= render "my_requests" %>
  </div>

  <%# TO BE REPLACED WITH NICE EMPTY BOX %>
  <div class="container-fluid request-steps-container">
    <div class="request-steps-empty-box">
      <p>Click on a request to see more details!</p>
    </div>
  </div>

</div>
