<div class="requests-overview">
  <div class="container-fluid my-request">
    <div class="pending-requests">
      <h2>Pending Requests</h2>

      <%# TO BE REPLACED WITH NICO'S PARTIAL %>
      <div class="box">
        <% @requests.each do |request| %>
          <%= link_to request.title, request_path(request) %>
        <% end %>
      </div>

    </div>
  </div>

  <%# TO BE REPLACED WITH NICE EMPTY BOX %>
  <div class="container-fluid request-process">
    <p>Click on a request to see more details!</p>
  </div>

</div>
