<%# page to be removed - replaced by Nico by my_requests %>

<div class="requests-overview">


  <%= render "my_requests" %>


  <%# TO BE REPLACED WITH NICE EMPTY BOX %>
  <div class="container-fluid request-process">

    <p>Click on a request to see more details!</p>

  </div>

</div>
