<div class="requests-overview">
  <div class="container-fluid my-requests-container">
    <%= render "requests_received" %>
  </div>

  <div class="container-fluid request-steps-container">
    <div class="request-steps-box empty-box">
      <p>Click on a request to see more details!</p>
    </div>
  </div>
</div>
