<div class="banner">
  <div class="banner-content text-center">
    <h1>Mastery Mate</h1>
    <p><i>Where needs meets deeds</i></p>
    <%= link_to "Meet our Experts", experts_path, class: "btn btn-lg"  %>
  </div>
</div>
<div class="container masterymate-home-infos">
  <div class="about-masterymate">
    <h2>About MasteryMate</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias architecto dolor debitis quibusdam impedit ex blanditiis cupiditate eveniet velit id facere necessitatibus aut, sit assumenda accusantium consequuntur quisquam ea sequi.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias architecto dolor debitis quibusdam impedit ex blanditiis cupiditate eveniet velit id facere necessitatibus aut, sit assumenda accusantium consequuntur quisquam ea sequi.</p>
  </div>

  <div class="register-as-expert">
    <h2>Register as Expert !</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In necessitatibus, laudantium id dolorum mollitia maiores hic laborum ipsam eum doloremque vero quasi accusantium quia velit facilis voluptate dolores at et.</p>
    <%= link_to "Register", new_expert_path %>
  </div>
</div>
