<div class="banner">
  <div class="banner-content text-center">
    <h1>Mastery Mate</h1>
    <p><i>Where needs meets deeds</i></p>
    <%= link_to "Meet our Experts", experts_path, class: "btn btn-lg btn-primary"  %>
  </div>
</div>
