.avatar {
  width: 50px !important;
  height: 50px !important;
  object-fit: cover !important;
  border-radius: 50% !important;
  border: white 1px solid !important;
}

.avatar-lg {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
}

.avatar-sm {
  width: 30px !important;
  height: 30px !important;
  object-fit: cover !important;
  border-radius: 50% !important;
  border: white 1px solid !important;
  margin-right: 5px !important;
}
