.my-btn {
  padding: 10px 20px;
  text-decoration: none;
  font-weight: 700;
  border-radius: 100px;
  border: solid 1px $mmviolet;
}

.my-btn.prim {
  background-color: $mmviolet;
  color: $white;
  font-weight: 700;
  i {
    color: $white;
  }
}

.my-btn.prim:hover {
  background-color: $mmvioletdark;
  border: solid 1px $mmvioletdark;
}

.my-btn.sec {
  color: $mmviolet;
  background-color: rgba(240, 255, 255, 0);
  font-weight: 700;
  align-items: center;
  i {
    color: $mmviolet;
  }
}
