// change to color theme


.my-btn {
  padding: 10px 20px;
  text-decoration: none;
  font-weight: 700;
  border-radius: 100px;
  border: solid 1px $mmviolet;
}


.my-btn.prim {
  // background: linear-gradient(to left top, $mmvioletlight, 15%, $mmviolet);
  background-color: $mmviolet;
  color: $white;
  font-weight: 700;
  // margin-bottom: 20px; // this margin is needed for the sign in forms, to make space before the links
}

.my-btn.prim:hover {
  background-color: $mmvioletdark;
  border: solid 1px $mmvioletdark;
  // background: linear-gradient(to left top, $mmviolet, $mmviolet);
}

.my-btn.sec {
  color: $mmviolet;
  background-color: rgba(240, 255, 255, 0);
  font-weight: 700;
  display: flex;
  align-items: center;
  i {
    color: $mmviolet;
  }
}

// .my-btn i {
//   margin-left: 10px;
// }
