.modal-content {
  // background: linear-gradient(0.43turn, $mmorangelight, $white, $mmgreenlight);
  background: $white;
}


.my-modal .btn-close {
  position: absolute;
  top: 10px;
  right: 10px;
}

.my-modal img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 20px;
}

.modal-text {
  height: 100%;
  display: flex;
  flex-direction: column;

  .grow {
    flex-grow: 1;
  }
}

.modal-tags {
  display: flex;
}

.modal-tag {
  background-color: $mmorangelight;
  // color: $cinedarkblue2;
  border-radius: 100px;
  padding: 0px 8px;
  // margin-left: 10px;
  margin-right: 5px;
  // margin-top: 5px;
  // margin-bottom: 0px;
}

.btn-position {
  display: flex;
  justify-content: end;
}
