.form-control {
  border-radius: 20px;
}

.form-select {
  border-radius: 100px;
}

.form-container {
  width: 50%;
}

.form-input-groups {
  border-radius: 0 20px 20px 0;
  margin-left: -35px !important;
  margin-top: 16px;
  height: 38px;
}

.form-input-groups2 {
  border-radius: 0 20px 20px 0;
  margin-left: -35px !important;
  margin-top: -9px;
  height: 38px;
}

.form-alignment {
  align-items: center;
}

.bold-label {
  font-weight: 700;
}


.price-box {
  display: flex;
}

.price-title {
  margin-top: 32px;
  margin-bottom: 8px;
}

#offer_content, #request_description, #expert_description, #review_comment {
  height: 150px;
}
