// Box around forms
.form-container {
  background-color: $white;
  border-radius: 20px;
  border: solid 1px $grey1;
  margin-top: 140px;
  padding: 30px;

  h2 {
    margin-bottom: 20px;
  }
}

.small-form {
  width: 25%;
}

.medium-form {
  width: 40%;
}

.large-form {
  width: 50%;
}

// Input boxes
.form-control {
  border-radius: 20px;
  border: solid 1px $grey1;
}

.form-control:focus {
  box-shadow: 0 0 5px $mmviolet;
  border: solid 1px $grey1;
}

.form-select {
  border-radius: 100px;
}

.form-select:focus {
  box-shadow: 0 0 5px $mmviolet;
  border: solid 1px $grey1;
}

// Inline inputs
.inline-inputs {
  display: flex;
  justify-content: space-between;
}

.inline-2-inputs {
  width: 48%;
}

// Placeholers/hints color
textarea[id="request_description"]::placeholder {
  color: $grey2;
}

.form-text {
  color: $grey2;
}


.form-input-groups {
  border-radius: 0 20px 20px 0;
  margin-left: -35px !important;
  margin-top: 16px;
  height: 38px;
}

.form-input-groups2 {
  border-radius: 0 20px 20px 0;
  margin-left: -35px !important;
  margin-top: -9px;
  height: 38px;
}

.form-alignment {
  align-items: center;
}

.bold-label {
  font-weight: 700;
}

.price-box {
  display: flex;
}

.price-title {
  margin-top: 32px;
  margin-bottom: 8px;
}

// higher boxes
#request_description, #expert_description, #review_comment {
  height: 150px;
}
